### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

#purchase_data.columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
#total player = total unique SN (.nunique()Return number of unique elements in the object)
total_player = purchase_data["SN"].nunique()
total_player_df = pd.DataFrame([{"Player Count": total_player}])
print(total_player_df)

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Unique items (find the length of the ID list)
unique_items = len(purchase_data["Item ID"].unique())
unique_items

#average price (round to 2 digit and add $ when formatting)
avg_price = avg_price = round((purchase_data["Price"].mean()),2)
avg_price 

#number of purchase
number_purchases = len(purchase_data["Purchase ID"])
number_purchases

#total revenue (need to format #)
total_revenue = sum(purchase_data["Price"])
total_revenue

summary_table = pd.DataFrame({ "Number of Unique Items" : [unique_items],
                              "Average Price": [avg_price],
                              "Number of Purchases" : [ number_purchases],
                              "Total Revenue" : [total_revenue]
    
})

print(summary_table)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_count = purchase_data.groupby('Gender')
unique_gender_count = gender_count.nunique()['SN']
# print (unique_gender_count)

#percentage
gender_percentage = round((unique_gender_count / total_player *100),2)
gender_percentage

#Gender Demographics table
gender_demo_table = pd.DataFrame({"Total Count": unique_gender_count,
                                  "Percentage of Player": gender_percentage
                                 })
gender_demo_table = gender_demo_table.sort_values(['Total Count'], ascending =False)
print(gender_demo_table)

                       Total Count  Percentage of Player
Gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#purchase count
purchase_count = gender_count['Purchase ID'].count()
# print(purchase_count)

average_price = round((gender_count['Price'].mean()),2)
# print(average_price)

total_purchase_value = round((gender_count['Price'].sum()),2)
# print(total_purchase_value)

average_purchase_per_person = round((total_purchase_value/unique_gender_count),2)
average_purchase_per_person 

purchase_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                                  'Avg Purchase Price': average_price,
                                  'Total Purchase Value': total_purchase_value,
                                  'Avg Total Purchase Per Person': average_purchase_per_person})
print(purchase_analysis)

                       Purchase Count  Avg Purchase Price  \
Gender
Female                            113                3.20
Male                              652                3.02
Other / Non-Disclosed              15                3.35

                       Total Purchase Value  Avg Total Purchase Per Person
Gender
Female                               361.94                           4.47
Male                                1967.64                           4.07
Other / Non-Disclosed                 50.19                           4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
#bins for ages
age_bins = [0,9,14,19,24,29,34,39,999]
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

#categorize into different age bin
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels = age_group)
purchase_data.head()

#Age demo total & percentage
group_by_age = purchase_data.groupby('Age Group')
age_total_count = group_by_age['SN'].nunique()
age_total_count

age_percentage = round((age_total_count/total_player *100),2)
age_percentage

age_demo_table = pd.DataFrame({'Total Count': age_total_count,
                                  'Percentage of Players': age_percentage})
                                
print(age_demo_table)

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
#purchase data into age bin
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels = age_group)

#By AGE
#purchase count
age_purchase_count = group_by_age['Purchase ID'].count()
#print(age_purchase_count)

age_average_price = round((group_by_age['Price'].mean()),2)
#print(age_average_price)

age_total_purchase_value = round((group_by_age['Price'].sum()),2)
# print(age_total_purchase_value)

age_average_purchase_per_person = round((age_total_purchase_value/age_total_count),2)
#print(age_average_purchase_per_person)

age_purchase_analysis = pd.DataFrame({'Purchase Count': age_purchase_count,
                                  'Avg Purchase Price': age_average_price,
                                  'Total Purchase Value': age_total_purchase_value,
                                  'Avg Total Purchase Per Person': age_average_purchase_per_person})

print(age_purchase_analysis)

           Purchase Count  Avg Purchase Price  Total Purchase Value  \
Age Group
<10                    23                3.35                 77.13
10-14                  28                2.96                 82.78
15-19                 136                3.04                412.89
20-24                 365                3.05               1114.06
25-29                 101                2.90                293.00
30-34                  73                2.93                214.00
35-39                  41                3.60                147.67
40+                    13                2.94                 38.24

           Avg Total Purchase Per Person
Age Group
<10                                 4.54
10-14                               3.76
15-19                               3.86
20-24                               4.32
25-29                               3.81
30-34                               4.12
35-39                               4.76
40+                                 3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
top_spender = purchase_data.groupby('SN')
top_spender.head()

purchase_count = top_spender['Purchase ID'].count()
purchase_count

average_purchase_price = round((top_spender['Price'].mean()),2)
average_purchase_price

total_purchase_value = top_spender['Price'].sum()
total_purchase_value

top_spender_table = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": average_purchase_price,
                                  "Total Purchase Value": total_purchase_value
                                 })
top_spender_table = top_spender_table.sort_values(['Total Purchase Value' ], ascending =False).head()
print(top_spender_table)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
items = purchase_data[['Item ID','Item Name', 'Price']]
items

popular_items = items.groupby(['Item ID', 'Item Name'])
popular_items.head()

popular_purchase_count = popular_items['Item ID'].count()
popular_purchase_count

popular_total_purchase_value = popular_items['Price'].sum()
popular_total_purchase_value

popular_item_price = round((popular_total_purchase_value/popular_purchase_count),2)
popular_item_price

popular_item_table = pd.DataFrame({"Purchase Count": popular_purchase_count,
                                  "Item Price": popular_item_price,
                                   "Total Purchase Value": popular_total_purchase_value
                                  })
popular_item_table = popular_item_table.sort_values(['Purchase Count'], ascending =False).head()
print(popular_item_table)

                                                      Purchase Count  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
108     Extraction, Quickblade Of Trembling Hands                  9
82      Nirvana                                                    9
19      Pursuit, Cudgel of Necromancy                              8

                                                      Item Price  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm        4.23
145     Fiery Glass Crusader                                4.58
108     Extraction, Quickblade Of Trembling Hands           3.53
82      Nirvana                                             4.90
19      Pursuit, Cudgel of Necromancy                       1.02

                                                      Total Purchase Value
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
145     Fiery Glass Crusader                                         41.22
108     Extraction, Quickblade Of Trembling Hands                    31.77
82      Nirvana                                                      44.10
19      Pursuit, Cudgel of Necromancy                                 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [127]:

profitable_item_table = pd.DataFrame({"Purchase Count": popular_purchase_count,
                                  "Item Price": popular_item_price,
                                   "Total Purchase Value": popular_total_purchase_value
                                  })
profitable_item_table = profitable_item_table.sort_values(['Total Purchase Value'], ascending =False).head()
print(profitable_item_table)

                                                      Purchase Count  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm              12
82      Nirvana                                                    9
145     Fiery Glass Crusader                                       9
92      Final Critic                                               8
103     Singed Scalpel                                             8

                                                      Item Price  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm        4.23
82      Nirvana                                             4.90
145     Fiery Glass Crusader                                4.58
92      Final Critic                                        4.88
103     Singed Scalpel                                      4.35

                                                      Total Purchase Value
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
82      Nirvana                                                      44.10
145     Fiery Glass Crusader                                         41.22
92      Final Critic                                                 39.04
103     Singed Scalpel                                               34.80